.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.my-nav {
  background: $dark-blue;
  padding: 8px 0px 8px 16px;
  .navbar-brand {
    font-size: 16px;
    color: $red;
  }
  a {
    text-decoration: none;
    font-size: 24px;
    color: $light;
    &:hover{
      color: $light-blue;
    }
  }
}
